<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ahaa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7cbe6e89-b1b6-43d6-944b-fffb444bb4de/resourceGroups/ahaa-rg/providers/Microsoft.Web/sites/ahaa</ResourceId>
    <UserName>$ahaa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ahaa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>